@import "../../styles/mixin.scss";
@import "../../styles/variable.scss";
@import "../../styles/common.scss";

.login {
  width: 25%;
  margin: 200px auto;

  .loginPage {
    @include flexCenter;
    flex-direction: column;
    position: relative;
    border: 3px solid lightgray;
    padding: 10%;
  }
  .westagramBox {
    font-family: "Lobster";
    text-align: center;
    font-size: 45px;
    margin-bottom: 80px;
  }

  .idBox {
    @include boxSize(100%, 0px 0px 10px 0px);

    #id {
      @include boxSize(100%, 10px);
    }
  }

  .passwordBox {
    @include boxSize(100%, 0px 0px 10px 0px);

    #password {
      @include boxSize(100%, 10px);
    }
  }

  .button {
    background-size: 50px;
    background-color: #c4e0fc;
    color: white;
    border: 0;
    border-radius: 5px;
    @include boxSize(100%, 10px);
  }

  .forgetPassword {
    color: #020050;
    font-size: 5px;
    margin-top: 100px;
    text-align: center;
  }
}
